.headline {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 2em;

    @mixin atSmall {
        font-size: 1.5rem;
    }

    strong {
        color: $mainRed;
        font-weight: bold;
    }

    &--centered {
        text-align: center;
    }
}