.primary-nav {
    
    ul {
        margin: 0;
        padding: 0;

        @mixin clearfix;
    }

    li {
        list-style: none;
        float: left;
        padding-right: 20px;
    }

    a {
        color: $mainGrey;
        text-transform: uppercase;
    }
}

.primary-cta {
    
    ul {
        margin: 0;
        padding: 0;

        @mixin clearfix;
    }

    li {
        list-style: none;
        float: left;
        padding-right: 5px;
    }

    a {
        font-size: .875rem;
    }

}