.site-header {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #eee;

    &__inner {
        display: grid;
        grid-template-columns: 1fr auto 1fr;      
    }

    &__logo {
        max-width: auto;
        height: 60px;
        display: flex;
    }
    
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    &__cta {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

