.site-widget {
    text-align: center;

    @mixin atMedium {
        text-align: inherit;
    }

    a {
        color: #ddd;
    }

    &__socials {
        a {
            display: inline-block;
            margin: 0 .25em;
        }

        img {
            max-width: 22px!important;
        }
    }
}

.widget-content {
    margin-bottom: 50px;

    &--last-widget {
        margin-bottom: 0;
    }

    @mixin atMedium {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }
}

.widget-1 {
    img {
        max-width: 150px;
    }
}

.widget-2 {
    img {
        max-width: 60px;
    }
}
